/* Escribe tu css aqui */
div{
	width: 200px;
	height: 100px;
	background-color: yellow;
	display: block;
	padding: 10px;
	margin: 10px;
}
.segundo{
	width: 200px;
	height: 100px;
	background-color: red;
	display: block;
	padding: 10px;
	margin: 10px;	
}



